<div class="input-group input-group-lg">
  {{bs-input type="text" class="form-control input-lg" placeholder="Найти товары..."}}
  <span class="input-group-btn">
    {{bs-button type="btn btn-warning btn-lg" buttonType="submit" icon="glyphicon glyphicon-search"}}
  </span>
</div>
