<ul class="contact-options-ul">
  <li>
    <span class="glyphicon glyphicon glyphicon-earphone"></span>
    <strong>(0612) 23-456-789</strong>
  </li>
  <li>
    (098) 124-567-321
  </li>
  <li>
    <a href="mailto:ekoterm.zp@ukr.net">ekoterm.zp@ukr.net</a>
  </li>
</ul>