<h3>ЧП «Бейдик»</h3>

<p>Оптовые поставки сантехники. Именно у нас можно купить сантехнику оптом. Удобный склад в Запорожье. Оперативная загрузка товара. Быстрое оформление документов. Специальные цены для строительных магазинов, сантехников и монтажников.</p>

<div class="address">
  <strong>69096,</strong> Запорожье, Запорожская область<br>
  Ленинский район, ул. Электрозаводская 3<br>
  <abbr title="Телефон">Тел:</abbr> (0612) 456-7890 <br>
  <abbr title="Электронная почта">Эл почта:</abbr> <a href="mailto:#">ekoterm.zp@ukr.net</a>
</div>
