<div class="carousel slide" id="ekoCarousel" data-ride-no="carousel">

  {{!-- Indicators --}}
  <ol class="carousel-indicators">
    <li data-slide-to="0" data-target="#ekoCarousel" class="active" ></li>
    <li data-slide-to="1" data-target="#ekoCarousel"></li>
    <li data-slide-to="2" data-target="#ekoCarousel"></li>
  </ol>

  {{!-- Slide wrapper --}}
  <div class="carousel-inner">
    <div class="item active" id="slide1">
      <div class="carousel-caption">
        <h4>Buderus</h4>
        <p>Водонагреватель LogamaxPlus GB162 PR</p>
      </div>
    </div>

    <div class="item" id="slide2">
      <div class="carousel-caption">
        <h4>Grundfos</h4>
        <p>Скважинные насосы</p>
      </div>
    </div>

    <div class="item" id="slide3">
      <div class="carousel-caption">
        <h4>Herz</h4>
        <p>Металлопластиковая труба</p>
      </div>
    </div>
  </div>{{!-- carousel-inner --}}

  {{!-- Controls --}}
  <a href="#ekoCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a>
  <a href="#ekoCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>

</div>{{!-- end ekoCarousel --}}
