<div id="sidebar">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-description">
        Категории товаров
      </li>

      <li>{{#link-to "about"}}
            Котельное оборудование
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Насосное оборудование
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Радиаторы
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Трубы и фитинги
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Канализация
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Запорная арматура
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Системы теплого пола
          {{/link-to}}
      </li>
      <li>{{#link-to "about"}}
            Энергия солнца
          {{/link-to}}
      </li>
    </ul>
  </div>
</div>