<div id="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-header-wrapper">
      <h3 class="sidebar-header">
        Категории товаров
      </h3>
    </div>
    <ul class="sidebar-content">
      {{#each-in categories as |category products|}}
        <div class="sidebar-item-wrapper">
          {{sidebar-item category=category products=products}}
        </div>{{!-- sidebar-item-wrapper --}}
      {{/each-in}}
    </ul>
  </div>
</div>
