<div class="map-info">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2676.0489465138867!2d35.065245315077156!3d47.8773795772272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc641e74c31c5f%3A0xad4095f59809042c!2z0KDQtdC70YzRlNGE0L3QsCDQstGD0LsuLCAy0JAsINCX0LDQv9C-0YDRltC20LbRjywg0JfQsNC_0L7RgNGW0LfRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1451749319643" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

  <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=xp37OA6__ebYFThZ5q3GM5b4_d6E3WYg&width=100%&height=300&lang=uk_UA&sourceType=constructor"></script>
</div>
