<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-responsive-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}
        <img src="images/logo.png" alt="EkoTERM" class="ekoterm-logo">
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'contacts' tagName='li'}}
          {{link-to 'Контакты' 'contacts'}}
        {{/link-to}}

        {{#link-to 'pricelists' tagName='li'}}
          {{link-to 'Прайс лист' 'pricelists'}}
        {{/link-to}}
      </ul>
    </div>
  </div>{{!-- end container --}}
</nav>{{!-- end navbar --}}
