<div class="carousel slide" id="ekoCarousel">
  
</div>

<div class="row" id="bigCallout">
  <h2 id="title">Welcome to Ember</h2>
  
</div>

<div class="row" id="featuresHeading">
  
</div>

<div class="row" id="features">

</div>

<div class="row" id="moreInfo">

</div>

<div class="row" id="moreProducts">
  
</div>
