/*-----------------------------
  Layout
  -----------------------------*/

body {
  background-color: #eee;
  /*background: url('../images/background_option.jpg') top center no-repeat;
  background-attachment: fixed;*/
}

#main {
  /*background-color: #eee;*/
}

h1.sitelogo {
  font-weight: bold;
  margin: 0px;
  font-size: 32px;
  color: #9FD600;
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  text-align: center;
}

h1.sitelogo .warm {
  color: #FF6F3F;
}

.logoSlogan {
  font-size: 12px;
  color: #545454;
  display: block;
  text-align: center;
  margin-top: 2px;
}

#features {
  text-align: center;
}

#features img {
  margin: 0 0 20px;
}

#inputMessage {
  margin-bottom: 15px;
}

footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#789915+0,729900+100 */
  background: #789915; /* Old browsers */
  background: -moz-linear-gradient(top,  #789915 0%, #729900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #789915 0%,#729900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #789915 0%,#729900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#789915', endColorstr='#729900',GradientType=0 ); /* IE6-9 */
  color: #eee;
  font-size: 11px;
  padding: 20px;
}

#menuAndCarousel {
  margin-bottom: 25px;
}

.no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}


.searchBar {
  margin: 5px 0 25px 0;
}

#menuAndSearch {
  margin-bottom: 20px;
}

/*-----------------------------
  Typography
  -----------------------------*/

.well .page-header {
  margin-top: 0;
}

.well .page-header h1 {
  margin-top: 0;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

/*-----------------------------
  Global Styles
  -----------------------------*/

.alert {
  margin-top: 20px;
}

.tabbable img.thumbnail {
  margin: 0 20px 10px 0;
}

.thumbnails {
  margin: 20px 0;
}

.thumbnail {
  position: relative;
}

.thumbnail h3 {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 20px;
}

.thumbnail .price {
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px;
}

.thumbnail .price sup {
  font-weight: normal;
  font-size: 12px;
}

.thumbnail span.glyphicon {
  margin-right: 5px;
}
/*-----------------------------
  Navbar
  -----------------------------*/

.ekoterm-logo {
  max-width: 120%;
  max-height: 120%;
}

/*#navbar-responsive-collapse ul li:last-child {
  border-left: 1px solid rgba(119, 119, 119, 0.2);
}*/

/*#navbar-responsive-collapse ul li:last-child {
  border-right: 1px solid rgba(119, 119, 119, 0.2);
}*/

.contact-options {
  font-size: 12px;
  text-align: right;
  /*margin-right: 18px;*/
}

.contact-options li {
  list-style-type: none;
  /*text-align: justify;*/
}

/*-----------------------------
  Sidebar
  -----------------------------*/

#sidebar {
  background-color: #fff;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  /*outline: 1px solid #CCCCCC;*/
}

#sidebar ul {
  padding: 0;
  margin: 0;
}

#sidebar li {
  /*border-top: 1px solid #eee;*/
}

.sidebar-header {
  margin: 0;
  padding: 13px 0px;
  font-size: 16px;
  line-height: 1.42857143;
}

.sidebar-header-wrapper {
  background-color: #eee;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
}

.sidebar-content {
  /*outline: 1px solid #CCCCCC;*/
  /*border-right: 1px solid #CCCCCC;*/
}

.sidebar-wrapper li {
  list-style-type: none;
  font-size: 14px;
}

#sidebar li:hover {
  background-color: rgba(159, 214, 0, 0.6);
}

/*Sidebar Links*/

.sidebar-item a {
  color: #333;
  display: block;
  white-space: nowrap;
  padding: 10px;
}

.sidebar-item {
  /*border-top: 1px solid #eee;*/
}

.sidebar-item-wrapper:not(:first-child),
.sub-menu-item-wrapper:not(:first-child),
.sub-sub-menu-item:not(:first-child) {
 border-top: 1px solid #eee; 
}

.sidebar-item > a {
  padding: 10px 0 10px 20px;
}

.sidebar-item a:hover {
  text-decoration: none;
}

/*Sidebar Sub-menu*/

.sidebar-item-wrapper,
.sub-menu-item-wrapper {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: -1px;
  left: 100%;
  display: block;
  background-color: #fff;
  z-index: 2;
  /*border-left: 1px solid #CCCCCC;*/
  /*border-top: 1px solid #CCCCCC;*/
  /*border-bottom: 1px solid #CCCCCC;*/
  /*border-right: 1px solid #CCCCCC;*/
  /*outline: 1px solid #CCCCCC;*/
  border: 1px solid #CCCCCC;
}

.sub-menu-item {
  /*border-top: 1px solid #eee;*/
}

.sub-menu-link {
  /*margin-right: 10px;*/
}

/* Sidebar Sub-sub-menu */

.sub-sub-menu {
  background-color: #fff;
  position: absolute;
  top: -1px;
  left: 100%;
  display: block;
  /*outline: 1px solid #CCCCCC;*/
  border: 1px solid #CCCCCC;
}

/*-----------------------------
  Carousel header
  -----------------------------*/

.carousel-header-wrapper {
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  /*outline: 1px solid #CCCCCC;*/
  background-color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-header-link-li {
  display: inline-block;
  font-size: 16px;
  /*margin: 0 0 0 20px;*/
  margin: 0 15px;
  list-style-type: none;
}

.carousel-header-link {
  display: block;
  padding: 13px 0;
  color: #FF6F3F;
}

.carousel-header-link:hover {
  text-decoration: none;
  color: #CC4417;
}

.carousel-header-link:active {
  text-decoration: underline;
}

/*-----------------------------
  Carousel
   -----------------------------*/

#ekoCarousel {
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  /*outline: 1px solid #CCCCCC;*/
}

.carousel-caption {
  font-size: 16px;
  color: #FF6F3F;
}

.carousel-caption h4 {
  font-size: 24px;
}

#ekoCarousel .item { height: 327px; }

#slide1 {
  background: url('../images/buderus_medium.jpg') top center no-repeat;
}

#slide2 {
  background: url('../images/carousel_medium_02.jpg') top center no-repeat;
}

#slide3 {
  background: url('../images/carousel_medium_03.jpg') top center no-repeat;
}



/*-----------------------------
  Media Queries
   -----------------------------*/

/* Portrait & landscape phone */
@media (max-width: 480px) {

  #ekoCarousel .item { height: 327px; }

  .thumbnail .price {
    font-size: 14px;
  }

  .thumbnail .price sup {
    font-size: 10px;
  }

  .sidebar-item-wrapper li a {
    font-size: 12px;
    /*white-space: normal;*/
  }

  .sidebar-header {
    font-size: 14px;
  }

  .carousel-header-link {
    font-size: 12px;
    padding: 14px 0;
  }
}

/*Landscape phone to portrait tablet*/
@media (max-width: 768px) {
  #ekoCarousel .item { height: 327px; }

  #slide1 {
    background: url('../images/carousel_small_01.jpg') top center no-repeat;
  }

  #slide2 {
    background: url('../images/carousel_small_02.jpg') top center no-repeat;
  }

  #slide3 {
    background: url('../images/carousel_small_03.jpg') top center no-repeat;
  }

  .carousel-caption {
    font-size: 16px;
  }

  .carousel-caption h4 {
    font-size: 22px;
  }
}

/*Large desktop*/
@media (min-width: 1200px) {
  #ekoCarousel .item { height: 327px; }

  #slide1 {
    background: url('../images/carousel_large_01.jpg') top center no-repeat;
  }

  #slide2 {
    background: url('../images/carousel_large_02.jpg') top center no-repeat;
  }

  #slide3 {
    background: url('../images/carousel_large_03.jpg') top center no-repeat;
  }
}

