<div class="row" id="moreInfo">
  <div class="col-xs-6">

    {{directions-info}}

  </div>{{!-- end col-sm-6 --}}

  <div class="col-xs-6">

    {{map-info}}

  </div>{{!-- end col-sm-6 --}}
</div>{{!-- end moreInfo --}}
